


<div class="container my-5">
    <div class="row p-4  align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">{{mipersonaje()?.name}}</h1>
        <h3>Status: {{mipersonaje()?.status}}</h3>
        <p class="lead">{{mipersonaje()?.url}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="http://"></a>
            <a  routerLink="/home"  class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Regresar</a>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
      <div class="col-lg-4 shadow-lg">
        <img [srcset]="mipersonaje()?.image" width="100%" class="img-fluid" alt="..." />

     </div>
    </div>
  </div>